<div>

	<script id="generalTemplate" type="text/template">
		<div class="container">
			<div id="smk_search_version"/>
			<header class="main-header">
				<h1 class="branding">
					<a href="#">Statens Museum for Kunst</a> 
						<i>{{{general_title}}}&nbsp;</i><span>prototype</span>
						<img class="print-logo" src="images/smk-logo-print.png">
				</h1>				
				<div class="print">
					<a href=""><i></i> Print</a>
				</div>				
	
			</header>
				
			<div id="searchboxauto"></div>			
	
			<section class="section--list" role="list">
	
				<div id="advanced" />
	
				<div class="search-actions">
	
					<div class="search-utilities">
	
						<div id="searchinfoxxx"></div>
	
						<div id="sorterxxx"></div>

						<div id="checkboxxxx"></div>						
	
					</div>
	
				</div>
	
				<div id="smk_teasersxxx" class="search-results search-results-full-width"></div>
        <div id="smk_teasers_docxxxx" class="search-results search-results-full-width"></div>	        	
        <div id="pager-viser"></div>							
	
		</section>

		<a href="#0" class="cd-top">Top</a>	
	
		<section class="section--detail" role="detail">
				<div id="smk_detail"></div>				
		</section>
    
    <section class="section--tabs" role="tabs">				
				<div id="smk_detail_tabs">
      		<section class="single-artwork-tabs">
      	
      			<div data-tabs-id="artwork-tabs" class="tabs">
              <a href="#smk_teasers" lab-id="detail_tab_smk_art_related"></a> 
              <a href="#smk_doc_related" lab-id="detail_tab_smk_doc_related"></a> 
              <a href="#extended" lab-id="detail_tab_extended"></a>              
      				<a href="#reference" lab-id="detail_tab_reference"></a>       								
      				<a href="#components" lab-id="detail_tab_components"></a> 				       				     				
      			</div>
      	
            <div data-tabs-id="artwork-tabs" id="smk_teasers" class="tab-content">&nbsp;</div>
      			<!-- /.tab-content -->
            <div data-tabs-id="artwork-tabs" id="smk_doc_related" class="tab-content">&nbsp;</div>
      			<!-- /.tab-content -->
      			<div data-tabs-id="artwork-tabs" id="reference" class="tab-content">&nbsp;</div>
      			<!-- /.tab-content -->          	
          	<div data-tabs-id="artwork-tabs" id="extended" class="tab-content">&nbsp;</div>    	
          	<!-- /.tab-content -->          
          	<div data-tabs-id="artwork-tabs" id="components" class="tab-content">&nbsp;</div>
          			<!-- /.tab-content -->			          	          	
      	
      		</section>
      </div>        
		</section>
      
    <section class="section--tags" role="tags">				
      <div id="tag_prev_q" class="tagcloud"></div>	
      <div id="tag_prev_facet" class="tagcloud"></div>
		</section>
	
		</div>		

	</script>

</div>